## This notebook is for Data downloading and preprocessing
#### Group members: LÃ©opold Coupet, Amir Ghali, Deniz Yasti

In [1]:
import pandas as pd
import pickle
import yfinance as yf

In [2]:
tickers = []

#This method extracts the tickers of companies in the Russell2000-index from a text document and outputs them as a string.
def parse_Russ_2000():
    
    try:
        readFile = open('./Data/2000/2000_tickers.txt','r').read()
        splitFile = readFile.split('\n')
        for eachLine in splitFile:
            splitLine = eachLine.split(' ')
            ticker = splitLine[-1]
            tickers.append(ticker)
                
    except Exception:
        print ('failed in the main loop')
    
    clean_tickers = ""
    for ticker in tickers:
        if (ticker.endswith('.A') or ticker.endswith('.B')):
            clean_tickers += (ticker[0:-2] + " ")
        else:
            clean_tickers += (ticker + " ")
    
    with open("Data/2000/russell_tickers.pkl", "wb") as f:
        pickle.dump(clean_tickers, f)
    
    return clean_tickers

In [3]:
str_tickers = parse_Russ_2000()
str_tickers

'FLWS ONEM FCCY SRCE DDD ETNB EGHT AMRK ATEN AAON AIR AAN ABEO ANF ABM ACIA ACTG AKR ACEL AXDX ACCO ARAY ACRX ACIW ACNB GOLF AE AHCO ADUS ADNT ADMA ATGE ADTN ADRO ADSW WMS ADES AEIS ASIX ADVM AEGN AGLE AERI AJRD AVAV AFMD AGEN AGRX AGYS ADC AGFS AIMT ATSG AKCA AKBA KERN AKRO AKTS ALG ALRM ALSK AIN ALBO AA ALEC ALRS ALEX ALX ALCO ALLK ATI ABTX ALGT ALE AMOT ALLO MDRX AOSL APT ATEC PINE ALTG ALTR ASPS AIMC AMAG AMAL AMBC AMBA AMC AMCX APEI AMTB AMRC AAT AXL AEO AEL AFIN AMNB ARA ARL AMSWA AWR AMSC AVD AMWD CRMT ABCB AMSF ATLO FOLD AMKR AMN AMRX AMPH AMRS ANAB AVXL ANDE ANGO ANIP ANIK ATRS ATEX AR ANH APLS APG APOG ARI AMEH APPF APPN AGTC AIT AAOI APLT APRE APTX APYX AQST ARAV ABR ARCH AROC ARNC ACA ARCT RCUS ARQT ARDX ASC ARNA ACRE AGX ARGO AI ARLO AHH ARR AROW ARWR ARTNA APAM ARVN ABG ASGN ASPN ASPU AWH ASMB AMK AC ASTE ATRO ASUR HOME ATRA ATNX ATHX ATKR ACBI AT AUB ATLC AAWW ATNI ATOM BCEL ATRC ATRI ARCB AVCO AVNS AVYA ATXI AVEO CDMO AVID CAR AVA AVRO ACLS AXLA AXGN AXNX AX AXSM AXTI AYTU AZZ BGS RILY BMI BCPC BANC BANF BLX TBBK BXS BAND BOCH BFC BMRC NTB BPRN BSVN BFIN BKU BWFG BANR BHB B BBSI BCML BBX BCBP BECN BEAM AUBN BELFB BDC BLPH BRBR BHE BNFT BFYT BHLB BRY XAIR BYSI BGSF BGCP BIG BH BH BCRX BDSI BHVN BLFS BSGM BSTC BEAT BTAI BJRI BJ BDTX BKH BLKB BL BXMT BE BLMN BCOR BLBD BXG BPMC BRG BMCH BSBK WIFI BCC BCEI BOOT BOMN BPFH EPAY BZH BBBY BRC BCLI BDGE BBIO BWB BRID MNRL BCOV BSIG BV EAT BCO VTOL BRMK BKD BIPC BRKL BRKS BRP BRT BMTC BKE BLDR BFST BY CFFI CABA CCMP WHD CADE CDZI CSTE CAI CALM CAMP CVGW CMCL CAL CALB CRC CWT CALA CALX ELY CLXT CMBM BOX BYD CNNE CMD CBNK CCBG CFFN CSTR CMO CARA CSII CDLX CATM CDNA CTRE CARG CRS CSV TAST CARS CARE CASA CWST CASI CSPR CASS SAVA CSTL CATB CBIO CPRX CATS CTT CATY CATO CVCO CBFV CBZ CBTX CECE CBMG CVM CELH CNTG CETV CENT CENTA CPF CATC CAC CWH CNTY CCS CERC CRNC CERS CEVA CSBR CHX ECOM GTLS CCF CLDT CKPT CAKE CHEF CEMI CCXI CHMG CHMI CHK CPK CHMA CHS PLCE CIM CMRX COFS CDXC CHDN CHUY CDTX CMCT CMPR CBB CNK CIR CIT CTRN CZNC CIZN CIA CHCO CIO CIVB CLAR CVCY CENX CNBKA CWEN CLF CLPR CLDR CLVS CCNE CNO CNX CCB COKE CDXS CODX CVLY CDE CCOI CWBR CNS CHRS COHU CLCT COLL CBAN CLNY CLNC COLB CLBK CXP CMCO FIX CMC CBU ESXB TCFC CYH CHCT CTBI CVLT CMP CPSI CIX SCOR CRK CMTL CNCE BBCP CLNE CLFD CLW CWEN CEIX CNSL CWCO CNST ROAD MCF CFRX CPS CTB CRBP CORT CORE CXW CORR CPLG CRMD CNR CSOD CRTX CRVL CMRE ICBK CVA CVTI CVET COWN CRAI CBRL BREW CRD CRNX CROX CCRN CFB CRY CYRX CSGS CSWI CTO CTS CUB CUE CURO CWK CNDT CNMD CNOB CONN CYCN CBAY CYTK CTMX CTSO DJCO DAKT DAN DAR DZSI DSKE PLAY DCPH DECK TACO DK DBCP DLX DNLI DENN DMTK DBI DHX DHT DHIL DSSI DRH DRNA DBD DGII DMRC APPS DDS DCOM DIN DIOD DHC BOOM DOMO UFS DGICA DFIN LPG DORM CUBI CUTR CVBF CVI CYBE DRRX DXPE DYAI DY DVAX DX EGBN EBMT EGLE EGRX ESTE DEA EML EGP KODK EBIX ECHO EPC EDIT EGAN EHTH EIDX EIGR EE LOCO ERI ELMD ELF EFC EARN ELOX EME EEX EBS EIG ENTA ECPG WIRE ENDP EIGI UUUU ERII EPAC PLOW DRQ DSPG DCO DLTH ESGR ETM EBTC EFSC EVC ELA ENV ENZ EPZM PLUS EQBK EROS ESCA ESE ESPR ESQ ESSA ESNT EPRT ETH ETON EVBN EVLO EB EVRI EVER EVTC EVI EVOP EVFM EVH EOLS EPM AQUA XGN XCUR EXLS XONE EXPI EXPO EXPR EXTN EXTR ENS EBF ENOB ENVA NPO ENSG FPI FARO FATE FBK FFG AGM FSS FHI FNHC FENC FOE FGEN FDBC FRGI FISI FNLC FBNC FBP FBMS FRBA BUSE FBIZ FCAP FCBP FCBC FCCO FCF FFBC THFF FFIN FFWM FGBI INBK FIBK FLIC FRME FMBH FMBI FNWB FSFG FUNC MYFW EZPW FN FLMN FARM FMAO FMNB FLDM FLR FFIC FNCB FOCS FONR FSCT FOR FORM FORR FRTA FBIO FWRD FOSL FSTR FBM FCPT FOXF FRG FC FELE FSB FRAF FSP FI FREQ FDP FRPT RESI FRO FRPH FSBW FCEL FULC FLGT FULT FNKO FF FVCB GTHX GAIA GCAP FCFS FIT FPRX FVE FBC FLXN FLNT GATX GCP GNSS GNK GENC GFN GCO GNE GNMK GNPX THRM GNW GEO GABC GERN GTY ROCK GBCI GOOD LAND GLT GKOS GBLI GMRE GNL GWRS GSB GLUU GLYC GMS GOGO GLNG GORO GDEN GDP GT GSHD GPRO GRC GOSS GPX GALT GRTX GBL GME GAN GCI GIII GRBK GDOT GPRE GBX GCBC GHL GNLN GLRE GSKY GEF GEF GDYN GRIF GFF GRTS GPI GRPN GRWG GSIT GTT GTYH GNTY GES GPOR GWGH HEES HCKT HALO HBB HLNE HWC HNGR HAFC HASI HONE HLIT HARP HROW HSC HBIO HVT GHM GVA GPMT GTN AJX GLDD GSBC GWB HCAT HR HCSG HQY HSTM HTLD HTLF HL HSII HELE HLIO HLX HMTV HRI HTBK HCCI HFWA HRTG MLHR HRTX HT HTZ HSKA HFFG HIBB HI HTH HGV HIFS HMSY HNI HBCP HOMB HMST HTBI FIXX HOFT HOOK HOPE HMN HA HWKN HWBK HAYN FUL HBT HCHC HCI HY IIIV IBKC IBIO ICAD ICFI ICHR IDYA IDT IESC IGMS IHRT IIVI IMRA IMAX IMMR IMUX IMGN IMVT PI IHC IRT IBCP INDB IBTX ILPT INFN III INFU NGVT IMKTA IOSP IIPR INVA INGN INOV INO INSG NSIT INSM HBNC TWNK HMHC HLI HBMD HUBG HUD HURC HURN ICPT IDCC TILE IBOC IGT IMXI INSW XENT IVAC INTL ITCI IPI IIN IVC IVR ISTR ISBC IRET ITIC NVTA IRMD IRTC IRDM IRBT IRWD STAR ITI ITRI ISEE JJSF JCOM JACK JRVR JELD JCAP JBT JOUT JNCE LRN NSP INSP IBP IIIN ITGR NTLA IDN INS IPAR KBH KBR KRNY KELYA KMT KW KROS KZR KFRC KE KBAL KIN KNSA KNSL KRG KREF KNL KN KOD KTB KOP KFY KOS KRA KTOS KRO KRYS KURA KRUS KVHI LJPC LZB LADR LBAI LKFN LAKE LANC LNDC LARK KAI KDMN KALU KALA KLDO KALV KAMN KAR KRTX KPTI LC LEVL LXRX LXP LGIH LHCG BATRA BATRK LILA LILAK LBRT LTRPA LCUT LFVN LGND LLNW LMST LMNR LIND LNN LQDA LQDT LAD LIVN LOB LTHM LPSN RAMP LIVX LOGC LORL LPX LOVE LYTS LTC LL LMNX LUNA LE LCI LNTH LSCC LAUR LAWS LCII LCNB LEGH LMAT M SHOO MDGL MGLN MGTA MGY MNSB MJCO MBUU MNK MTW MNKD MANT MMI MCS MPX HZO MRNS MRKR MRLN VAC MBII MRTN DOOR MTZ MHH MCFT MTDR MTRN MTRX MATX MATW MLP MAXR MMS MXL MEC MBI LBC LXFR LDL LYRA MHO MCBC MAC CLI MFNC MTSI MGNX MDP EBSB VIVO MRBK MMSI MTH MTOR MRSN MESA MLAB CASH MEI MCBS MCB MFA MGEE MGPI MIK MSTR MPB MBCN MSEX MSBI MOFG MLSS MLR MIME MTX NERV MRTX MIRM MSON MG MITK MMAC MINI MOBL MGRC MDC MNOV MED MD MEDP MEIP MGTX MNLO MBWM MBIN MPAA MOV COOP MRC MSGN MTSC MLI MWA MUSA MBIO MVBF MYE MYOK MYRG MYGN NBR NC NSTG NH NK NSSC NTRA NATH NBHC NKSH FIZZ NCMI NESR NGHC NHI NHC NPK NRC NSA EYE NWLI NGVC MODN MOD MC MTEM MNTA MCRI MGI MNR MNRO MR MOG MORF NPTN NSCO NTGR NTCT NBSE NRBO NVRO NBEV NJR SNR NYMT NMRK NR NXRT NXTC NEXT NXGN NEX NGM NODK EGOV NCBS NL LASR NMIH NNBR NDLS NAT NBN NFBK NRIM NWBI NWN NWPX NWE NWFL NATR NTUS NLS NAVI NAV NBTB NP NNI NMRD NEOG NEO NLTX OCUL ODT ODP OPI OFG OVBC ODC OIS ONB OSBC ZEUS OFLX OMER OMCL OCX OGS OLP OSPN OSW ONEW ONTO OOMA OPBK OPK OPRT OPY OPRX OPTN OPCH OSUR ORBC ORC ORGO ORGS ORIC OBNK NG NOVT NVAX DNOW NUVA NVEE NVEC NYMX OVLY OII OCFC OFED OI OMI OXM OYST PTSI CNXN PACB PPBI PCRX PAE PLMR PANL PZZA PARR PAR PRTK PKE PCYG PRK PKOH PKBK PSN PASG PATK PDCO PTEN PAVM PAYS PBF PCB PCSB PCTI PDCE PDFS PDLI PDLB OESX OEC ORA ORRF OFIX KIDS OSIS OSMT OTTR OSG OSTK OVID OVV PRFT PFGC PSNL PRSP PETQ PETS PFNX PFSW PGTI PHAS PHAT PAHC PLAB PHR DOC PICO PDM PIRS PING PBFS PIPR PBI PXLW PJT PLT AGS PLXS PLUG PLBC PLYM PNM POL POR PTLA PCH BTU PGC PEB PENN PVAC PNTG PWOD PFSI PMT PEBO PEBK PFIS PUB PRDO PSMT PNRG PRMW PRIM PRNB PRTH PRA PFHD PRGS PGNY PUMP PRO PROS PTGX TARA PTVCB PRTA PRLB PRVB PRSC PVBC PFS PROV PBIP PSB PTCT PLSE PBYI PCYO PRPL PZN QTWO QADA QCRH POWL POWI PWFL PQG PRAA PGEN DTIL APTS PFBC PLPC PFC PFBI PBH PRVL RFL RMBS RRC PACK RPD RAPT RAVN RYAM RBB ROLL RICK RMAX RC RLGY REPH RRBI RRGB RRR RDVT RDFN RWT RGNX RM RGS RBNC RLMD RNST REGI RCII RPAY REPL KRMD RBCAA FRBK QTS QUAD KWR QLYS NX QTRX QMCO QNST QTNT QUOT RCM RDN RLGT RDUS RDNT RGCO RH RYTM RBBN RMBI RIGL RMNI RAD RVSB RLI RLJ RMR RCKT RMTI RCKY ROG RST RES RPT RTIX RUBI RUBY RUSHA RUSHB RUTH RYI RHP STBA SBRA SB SFE SAFE SAFT REFR REZI RESN RGP ROIC RPAI RVI RVP RTRX REVG RVNC REV RVMD REX RXN SCSC SCHN SRRK SCHL SDGR SWM SGMS SALT STNG SCPH SSP SCU SEAC SBCF CKH SPNE SEAS SCWX SNFCA SLCT WTTR SEM SELB SIGI SMTC SENEA SXT MCRB SRG SVC SREV SFBS SFL SGA SAIA SAIL SAL SBH SAFM SASR JBSS SGMO SANM SPNS STSA BFS SVRA SBFG SBBX SAMG SI SFNC SMPL SSD SLP SBGI SITC SITE SITM SJW SKY SKYW SNBR SM SGH SMBK SWBI SMSI SOI SLNO SLDB SOLY SAH SONO SRNE SJI SPFI SSB SFST SMBC SONA SHAK SMED SHEN SWAV SCVL SHBI SSTI SSTK SIBN SIEB SIEN BSRR SIGA SIG SLAB SILK FLOW JOE STAA STAG STMP STND SMP SXI SRT STFC SCS SCL STXS SBT STRL STC SF SFIX SYBT STOK SRI STRA STRS SBBP RGR SMMF INN SUM SXC NOVA SPWR RUN SBSI SWX SWN SP SPKE SPTN SPPI SPRO SR SAVE STXB SPOK SPWH SWTX SPT SPSC SPXC TALO SKT TH TMHC TCRR TISI TTGT TGNA TRC TELA TNAV TELL TENB THC TNC TEN TEX TERP TRNO TBNK TTEK TCBI TXRH TGH TGTX TCS JYNT MEET REAL SHYF TXMD SHO SMCI SGC SUPN SGRY SRDX STRO SVMK SWKH SYKE SYNA SNCR SNDX SYRS SYX TRHC TCMD TBIO TMDX RIG TREC TG TPH TPCO TCDA TCBK TRS TNET TSE GTS TSC TRTN TBK TGI TROX TBI TRUE TRUP TRST TRMK TTEC TTMI TCX TUP TPB TPTX HEAR TPC TBPH THR TPRE TDW TLYS TSBK TMST TIPT TITN TVTY TMP TR BLD TOWN TRTX TPIC TRNS TCI UCBI UFCS UIHC UNFI UBFO USLM X UNIT UTL UNTY UBX UVV UEIC UHT UVE ULH UTI UVSP UPLD UPWK UEC UE URBN URGN UBA PRTS ECOL USX USNA UTMD TRWH TWST TWO TYME USCR USPH SLCA UFPI UFPT UCTT RARE ULBI UMBF UMH UFI UNF UIS UBSI VRTV VERI VRRM VRCA VRS VERU VVI VIAV VICR VIE VMD VRAY VKTX VLGEA VIR VHC VRTS VRTU VSH VPG VSTO VC VVNT VSLR VCRA VNRX VG VOXX VYGR VSEC VLY VALU VNDA VAPO VREX VRNS VXRT VBIV VGR VEC VECO VERO VRA VCYT VSTM VCEL VERY VRNT VBTX WCC WTBA WABC WMC WNEB WHG WEYS WSR WLL WOW WLDN WLFC WSC WING WINA WGO WETF WWW WKHS WK WRLD INT WOR WRTC WMGI WSFS WW XFOR XBIT VTVT WTI WNC WDR WTRH WD HCC WAFD WRE WASH WSBF WTRE WTS WVE WDFC WMK WBT WERN WSBC XNCR XHR XERS XOMA XPEL XPER YELP YETI YEXT YMAB YORW ZNTL ZIOP ZIXI ZGNX ZUMZ ZUO ZYXI '

In [4]:
#We download all the data related to our tickers from yahoo.finance for the last 10 years, daily
data = yf.download(tickers = str_tickers, period = "10y", interval = "1d", group_by = 'ticker', auto_adjust = False,
                    prepost = True, threads = True, proxy = None)
data

[*********************100%***********************]  2002 of 2002 completed

                  AIN                                                        \
                 Open       High        Low      Close  Adj Close    Volume
Date
2011-01-11  24.010000  24.320000  23.910000  24.090000  20.364944   70700.0
2011-01-12  24.370001  25.260000  24.280001  24.650000  20.838354  149600.0
2011-01-13  24.670000  24.750000  24.370001  24.620001  20.812984   77000.0
2011-01-14  24.549999  25.080000  24.510000  24.940001  21.083504  148800.0
2011-01-18  24.799999  24.990000  24.450001  24.770000  20.939793   78100.0
...               ...        ...        ...        ...        ...       ...
2021-01-05  70.809998  74.010002  70.620003  73.059998  73.059998  107300.0
2021-01-06  74.669998  78.500000  74.669998  76.959999  76.959999  200200.0
2021-01-07  77.389999  78.400002  76.269997  77.070000  77.070000  105400.0
2021-01-08  77.150002  77.660004  74.900002  76.190002  76.190002   99100.0
2021-01-11  74.180000  76.949997  74.680000  76.729599  76.729599   27048.0

                 ATLO                                   ...     KIN         \
                 Open       High        Low      Close  ...     Low  Close
Date                                                    ...
2011-01-11  20.280001  20.469999  20.200001  20.270000  ...     NaN    NaN
2011-01-12  20.490000  21.680000  20.490000  20.770000  ...     NaN    NaN
2011-01-13  20.850000  21.480000  20.850000  20.870001  ...     NaN    NaN
2011-01-14  21.000000  21.209999  20.900000  21.200001  ...     NaN    NaN
2011-01-18  21.010000  21.549999  21.010000  21.129999  ...     NaN    NaN
...               ...        ...        ...        ...  ...     ...    ...
2021-01-05  23.230000  23.780001  23.020000  23.370001  ...  4.4100  4.575
2021-01-06  23.620001  24.430000  23.570000  24.230000  ...  4.6050  4.890
2021-01-07  24.440001  24.459999  23.959999  24.150000  ...  4.9000  5.150
2021-01-08  24.379999  24.379999  23.520000  24.139999  ...  4.8800  5.030
2021-01-11  24.150000  24.150000  23.540001  23.895000  ...  4.7696  5.050

                                     ANIP                                   \
           Adj Close    Volume       Open       High        Low      Close
Date
2011-01-11       NaN       NaN  61.919998  62.639999  59.759998  61.560001
2011-01-12       NaN       NaN  61.919998  62.279999  60.480000  61.919998
2011-01-13       NaN       NaN  61.200001  62.279999  60.840000  61.919998
2011-01-14       NaN       NaN  61.919998  66.959999  60.840000  63.360001
2011-01-18       NaN       NaN  64.440002  66.239998  63.000000  65.519997
...              ...       ...        ...        ...        ...        ...
2021-01-05     4.575  347900.0  30.340000  31.910000  30.340000  31.340000
2021-01-06     4.890  357900.0  31.559999  32.650002  31.160000  31.510000
2021-01-07     5.150  285600.0  31.500000  32.150002  31.170000  31.730000
2021-01-08     5.030  294900.0  31.840000  31.940001  29.660000  31.309999
2021-01-11     5.050   68417.0  30.860001  32.069199  30.387501  31.400000


            Adj Close    Volume
Date
2011-01-11  61.560001   32200.0
2011-01-12  61.919998   28800.0
2011-01-13  61.919998   35100.0
2011-01-14  63.360001   94100.0
2011-01-18  65.519997   36600.0
...               ...       ...
2021-01-05  31.340000   81500.0
2021-01-06  31.510000  132800.0
2021-01-07  31.730000   37500.0
2021-01-08  31.309999   77400.0
2021-01-11  31.400000    5393.0

[2518 rows x 12012 columns]

In [5]:
#Save the downloaded data
data.to_pickle('./Data/2000/russell_all.pkl')

In [6]:
#Import the data from the saved file (to avoid running the above each time)
data = pd.read_pickle('./Data/2000/russell_all.pkl')
data.head()

                  AIN                                                    \
                 Open   High        Low      Close  Adj Close    Volume
Date
2011-01-11  24.010000  24.32  23.910000  24.090000  20.364944   70700.0
2011-01-12  24.370001  25.26  24.280001  24.650000  20.838354  149600.0
2011-01-13  24.670000  24.75  24.370001  24.620001  20.812984   77000.0
2011-01-14  24.549999  25.08  24.510000  24.940001  21.083504  148800.0
2011-01-18  24.799999  24.99  24.450001  24.770000  20.939793   78100.0

                 ATLO                                   ... KIN        \
                 Open       High        Low      Close  ... Low Close
Date                                                    ...
2011-01-11  20.280001  20.469999  20.200001  20.270000  ... NaN   NaN
2011-01-12  20.490000  21.680000  20.490000  20.770000  ... NaN   NaN
2011-01-13  20.850000  21.480000  20.850000  20.870001  ... NaN   NaN
2011-01-14  21.000000  21.209999  20.900000  21.200001  ... NaN   NaN
2011-01-18  21.010000  21.549999  21.010000  21.129999  ... NaN   NaN

                                  ANIP                                   \
           Adj Close Volume       Open       High        Low      Close
Date
2011-01-11       NaN    NaN  61.919998  62.639999  59.759998  61.560001
2011-01-12       NaN    NaN  61.919998  62.279999  60.480000  61.919998
2011-01-13       NaN    NaN  61.200001  62.279999  60.840000  61.919998
2011-01-14       NaN    NaN  61.919998  66.959999  60.840000  63.360001
2011-01-18       NaN    NaN  64.440002  66.239998  63.000000  65.519997


            Adj Close   Volume
Date
2011-01-11  61.560001  32200.0
2011-01-12  61.919998  28800.0
2011-01-13  61.919998  35100.0
2011-01-14  63.360001  94100.0
2011-01-18  65.519997  36600.0

[5 rows x 12012 columns]

In [7]:
non_empty_tickers = []
tickers = data.columns.get_level_values(0).unique()

#This function saves the data of each non-empty ticker in its own file, along with the non-empty-tickers names
def save_non_empty_tickers_individually(tickers):
    for ticker in tickers:
        non_empty_ticker = data[ticker].dropna(how="all")
        
        if non_empty_ticker.shape[0] == 0: 
            continue #Go to the next ticker so empty stocks are not saved
        
        non_empty_ticker.index = pd.to_datetime(non_empty_ticker.index)
        non_empty_ticker = non_empty_ticker.round(3)
        non_empty_tickers.append(ticker)
        non_empty_ticker.to_csv(path_or_buf='./Data/2000/Clean/Individual_stocks/' + str(ticker) + '.csv')
    
    with open("Data/2000/Clean/Non_empty_tickers.pkl", "wb") as f:
        pickle.dump(non_empty_tickers, f)

In [8]:
save_non_empty_tickers_individually(tickers)

In [9]:
non_empty_tickers = pd.read_pickle('./Data/2000/Clean/Non_empty_tickers.pkl')

In [10]:
#This function transforms our data into time_series data for further manpulation
def to_time_series(data, tickers, ind, price):
    
    time_series = {}
    
    for t in tickers:
        
        time_series[t] = pd.read_csv('./Data/2000/Clean/Individual_stocks/' + str(t) + '.csv')
        time_series[t] = time_series[t].set_index([ind])
        time_series[t] = time_series[t][[price]]
        time_series[t] = time_series[t].rename(columns={price:t})
        time_series[t].index = pd.to_datetime(time_series[t].index) 
        
    return time_series

In [11]:
time_series_stocks = to_time_series(data, non_empty_tickers, 'Date', 'Adj Close')

In [12]:
#This function joins our stocks together into the same dataframe, indexed by the Date
def df_stocks(ref_stock, tickers, stocks):
    all_ticks = []
    temp = tickers.copy()
    temp.remove(ref_stock)
    for t in temp:
        all_ticks.append(stocks[t])
        
    df = stocks[ref_stock].join(all_ticks)
    return df

In [13]:
#Here we extract the tickers with 10 years data (from 03.01.2011 to 31.12.2020)
Up_to_date_available_rows = 2517

ten_years_tickers = []
for s in time_series_stocks.values():
    if (s.shape[0] == Up_to_date_available_rows):
        for col_name in s.columns:
            ten_years_tickers.append(col_name)

with open("Data/2000/Clean/10_years_tickers.pkl", "wb") as f:
        pickle.dump(ten_years_tickers, f)

len(ten_years_tickers)

985

In [14]:
ten_years_tickers = pd.read_pickle('Data/2000/Clean/10_years_tickers.pkl')

In [15]:
stocks = df_stocks(ten_years_tickers[0], ten_years_tickers, time_series_stocks).dropna()

In [16]:
#This function drops the stocks that contains negative and zero values
def drop_neg_stocks(stocks):
    for cols in stocks.columns:
        if True in (stocks[cols].values <= 0):
            stocks.drop(columns=[cols],inplace=True)    
    return stocks

In [17]:
#This represents our final joined clean dataframe
drop_neg_stocks(stocks)

,AIN,ATLO,MSGN,SWBI,HSTM,NWBI,PRGS,CIA,YORW,APT,...,PFS,LORL,AMN,SB,HLX,TG,IIIN,SIG,AMSWA,ANIP
Date,,,,,,,,,,,,,,,,,,,,,
2011-01-11,20.365,14.613,7.515,2.812,6.571,7.037,26.856,7.47,13.293,1.650,...,9.900,30.685,6.39,6.990,12.100,10.473,9.255,34.261,4.341,61.56
2011-01-12,20.838,14.974,7.406,2.858,6.484,7.103,27.149,7.51,13.214,1.650,...,9.942,30.603,6.53,7.013,12.010,10.662,9.332,35.186,4.360,61.92
2011-01-13,20.813,15.046,7.307,2.881,6.523,7.091,27.105,7.37,13.230,1.650,...,9.770,30.763,6.53,6.990,11.900,10.824,9.278,35.311,4.263,61.92
2011-01-14,21.084,15.284,7.334,2.881,6.887,7.174,27.167,7.38,13.262,1.650,...,10.210,30.818,6.62,6.950,12.230,10.963,9.193,35.444,4.283,63.36
2011-01-18,20.940,15.233,7.313,2.850,7.012,7.222,27.404,7.38,13.396,1.660,...,10.141,30.845,6.76,6.958,12.110,10.913,9.301,36.102,4.328,65.52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-01-05,73.060,23.370,14.260,19.020,23.000,12.680,44.930,5.63,45.920,12.120,...,18.120,21.250,69.42,1.360,4.570,16.700,24.000,29.620,17.340,31.34
2021-01-06,76.960,24.230,14.440,22.520,24.280,13.690,47.160,6.02,48.200,11.970,...,19.550,22.330,71.54,1.380,4.770,17.460,25.170,33.060,18.040,31.51
2021-01-07,77.070,24.150,14.100,21.030,24.650,13.970,47.240,6.13,47.510,12.150,...,19.910,23.410,71.39,1.510,4.730,17.300,25.440,35.180,18.370,31.73
2021-01-08,76.190,24.140,13.660,19.270,24.620,13.860,47.310,6.12,47.840,11.910,...,19.320,23.270,71.17,1.740,4.790,16.700,24.570,37.300,18.530,31.31
2021-01-11,76.730,23.895,13.120,20.170,24.390,13.885,47.150,6.03,46.402,11.825,...,19.440,23.645,69.70,1.710,4.605,16.584,24.640,38.930,18.510,31.40

In [18]:
stocks.to_csv('data/final_data.csv')